body {
  margin: 0;
  background: #fffdf0;
  font-family: 'Lato', sans-serif;
}

.dashboardContainer {
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboardHeadersWrapper {
  -webkit-user-select: none;
  cursor: default;
}

.dashboardHeader {
  margin: 20px 0 3px;

  color: #e3bbff;
  font-family: 'Monofett', cursive;
  font-size: 40px;
  line-height: 28px;
}

.dashboardSubHeader {
  margin: 5px 0;

  color: #9583bf;
  font-weight: 400;
  font-size: 13px;
}

.searchInputWrapper {
}

.searchInput {
  border: none;
  border-bottom: 2px inset #d9c4e0;

  width: 300px;
  height: 40px;

  color: #525252;
  font-size: 25px;
  background: transparent;
}

.searchInput:focus {
  outline: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(225, 193, 241, 0.54);
}

.searchResultsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchResultWrapper {
  margin-top: 10px;
  font-size: 14px;

  cursor: pointer;
}

.searchResultWrapper:hover {
  color: #8f42f4;
}

#tooltip {
  background: white;
  padding: 5px;
}

#tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
